.list-table {
    border-collapse: collapse;
}

.priority-alignment,
th {
    text-align: center;
}

.list-table, td {
    border: 1px solid black;
    padding: 3px 8px;
}

thead {
    color: white;
    background-color: rgb(2, 49, 2);
}

th {
    padding: 0 15px;
}

.table-color1 {
    background-color: rgb(70, 165, 70);
}

.table-color2 {
    background-color: rgb(8, 139, 24);
}

#create-task-form {
    max-width: 300px;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#create-task-form input {
    margin: 5px 0;
}